alabaster==0.7.10
appnope==0.1.0
arrow==0.12.1
asn1crypto==0.23.0
awscli==1.14.42
awsebcli==3.12.1
Babel==2.5.3
binaryornot==0.4.4
blessed==1.14.2
botocore==1.8.46
cement==2.8.2
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
click==6.7
colorama==0.3.7
conda==4.3.34
cookiecutter==1.6.0
cryptography==2.1.4
decorator==4.1.2
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
Flask==0.12.2
Flask-WTF==0.14.2
future==0.16.0
graphviz==0.8.2
idna==2.6
imagesize==0.7.1
ipyext==0.1.0
ipython==6.2.1
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.11.1
Jinja2==2.10
jinja2-time==0.2.0
jmespath==0.9.3
MarkupSafe==1.0
numpy==1.14.1
pandas==0.22.0
parso==0.1.1
pathspec==0.5.0
patsy==0.5.0
pexpect==4.3.1
pickleshare==0.7.4
poyo==0.4.1
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyaml==17.12.1
pyasn1==0.4.2
pycosat==0.6.3
pycparser==2.18
pydotplus==2.0.2
Pygments==2.2.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
PySocks==1.6.7
python-dateutil==2.6.1
pytz==2018.3
PyYAML==3.12
requests==2.9.1
rsa==3.4.2
ruamel-yaml==0.11.14
s3transfer==0.1.13
scikit-learn==0.18
scipy==1.0.0
semantic-version==2.5.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
snowballstemmer==1.2.1
Sphinx==1.6.6
sphinxcontrib-websupport==1.0.1
statsmodels==0.8.0
tabulate==0.7.5
termcolor==1.1.0
tqdm==4.11.2
traitlets==4.3.2
unicodecsv==0.14.1
urllib3==1.22
virtualenv==15.1.0
watermark==1.6.0
wcwidth==0.1.7
websocket-client==0.46.0
Werkzeug==0.14.1
whichcraft==0.4.1
WTForms==2.1
