<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
    margin: 0px;
    padding: 8px;
}
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("../static/hollywood.jpg");
    min-height: 75%;
}
.menu {
    display: none;
}
.lead {
  font-size: 24px;
}
.logos {
  vertical-align:middle;
}
</style>

<body>

<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="{{ url_for('index') }}" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="{{ url_for('about') }}" class="w3-button w3-block w3-black">ABOUT</a>
    </div>
  </div>
</div>

<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
    <span class="w3-tag">Class project by Veronica Hsieh</span>
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white" style="font-size:90px">About</span>
  </div>
  <div class="w3-display-bottomright w3-center w3-padding-large">
    <span class="w3-text-white">email: veronica.hsieh@gmail.com</span>
  </div>
</header>

<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT THIS PRJOECT</span></h5>
    <p>Data: Sourced from MovieLens dataset on <a href="https://www.kaggle.com/rounakbanik/the-movies-dataset/data">Kaggle</a>.</p>
    <p>Model: Tree-based algorithm was used to model predctions.</p>
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p><i><strong>Project: </strong> web application for Northwestern's Masters of Analytics value chain class</i></p>
    </div>
    <br>
    <div class = "icons" id = "logos" align = "center">
      <a href="https://www.linkedin.com/in/veronica-hsieh-a2238424/">
      <img src="../static/linkedin_logo.png" alt="HTML tutorial" style="width:40px;height:40px;border:5;padding:5px;">
    </a>
    <a href="https://github.com/vhsieh920"><img src="../static/github_logo.png" alt="HTML tutorial" style="width:40px;height:40px;border:5;padding:5px;">
</a>
</div>

  </div>
</div>

</body>
</html>
