<!DOCTYPE html>

<html>
<body>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
  body, html {
      height: 100%;
      font-family: "Inconsolata", sans-serif;
      margin: 0px;
      padding: 8px;
  }
  .bgimg {
      background-position: center;
      background-size: cover;
      background-image: url("/w3images/coffeehouse.jpg");
      min-height: 75%;
  }
  .menu {
      display: none;
  }
</style>

<h1> Box Office Predictor </h1>

#genre selection
<h3> Select a genre </h3>
<br>

#release year
<h3> Movie release year: </h3>

<input type = "text" name = "release_year", value = "year">
<br>
<br>

#get predicted estimate
<br>

<script>
function changeName() {
  document.getElementById('test').innerHTML = 'new text';
}
</script>

<p id = "test"> Change this text to: </p>

<button type = "button"
onclick = "changeName()">
Click to see the predicted revenue </button>

</body>

</html>
