{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>Box Office Predictions</h1>
  <p class="lead">Enter information about a movie and see how much it'll make in theaters!</p>
<br>

</div>

<h3> Select a genre </h3>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Movie Genres
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Comedy</a></li>
    <li><a href="#">Horror</a></li>
  </ul>
</div>
</div>
<br>
<h3> Movie release year: </h3>

<input type = "text" name = "release_year", value = "year">

{% endblock %}
