{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
{% load wtforms %}

<div class="jumbotron">
  <h1>Box Office Predictions</h1>
  <p class="lead">Enter information about a movie and see how much it'll make in theaters!</p>
<br>

</div>

<!-- <form method = "POST" action = "http://127.0.0.1:5000/">
  {{ form.csrf_token }}
  {{form.release_year.label}}
  {{form.release_year}}
  {{form.rating.label}}
  {{form.rating}}
  {{form.popularity.label}}
  {{form.popularity}}
  {{form.runtime.label}}
  {{form.runtime}}
  {{form.budget.label}}
  {{form.budget}}
  <input type = "submit" value = "Submit"> -->

  <fieldset>
    <h3> Select a genre </h3>
    <select name = "genre">
      <option value = "Action"> Action </option>
      <option value = "Comedy"> Comedy </option>
      <option value = "Horror"> Horror </option>
    </select>
    <br>
    <br>
    <input type = "submit"> -->
</form>

</div>
<br>
<h3> Movie release year: </h3>

<input type = "text" name = "release_year", value = "year">

{% endblock %}
